body {
    background-color: #f7f7f7;
}
.painting-1 {
    display: grid;
    width: 1300px;
    height: 1300px;

    /* for testing */
    border: 1px solid black; 
    
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.black {
    background-color: #242B38;
}

.celadon {
    background-color: #EBF3E4;
}
    
.yellow {
    background-color: #F6CF59;
}

.light-blue {
    background-color: #3980DC;

}

.dark-blue {
    background-color: #1D3EAE;
}

.green {
    background-color: #4D9A6E;
}

.pink {
    background-color: #F7D7D4;
}

.grey {
    background-color: #D9D9D9;
}

.orange {
    background-color: #F1A151;
}

.red {
    background-color: #DA4D45;
}

.border-bottom {
    border-bottom: 30px solid #F6CF59;
}

.border-bottom-orange {
    border-bottom: 30px solid #F1A151;
}

.border-bottom-red {
    border-bottom: 30px solid #DA4D45;
}