* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    cursor: url('white-dot.png'), auto;
    background-color: #242424;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.center {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 350px 500px;
}

.x {
    margin-top: 30px;
    ;
}

a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 30px 25px;
    font-size: 4rem;
    font-family: "omnium-tagline", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.right {

    position: fixed;
    min-height: 100vh;
    right: 0;
    top: 0;
    min-width: 18rem;
    background: #333;
}

.dropdown {
    align-items: right;
    justify-content: right;
    margin: 0;
    padding: 0;
    min-width: 18rem;
}

.exercise {
    font-size: 64px;
    color: white;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px rgb(246, 255, 0), 0 0 82px rgb(246, 255, 0), 0 0 92px white; */
    text-align: center;

}

.x:hover {
    animation: glow 10s ease-in-out;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(255, 248, 155), 0 0 20px rgb(255, 248, 155), 0 0 30px rgb(255, 248, 155), 0 0 40px rgb(255, 248, 155), 0 0 50px rgb(255, 248, 155);
    }

    to {
        text-shadow: 0 0 60px rgb(255, 248, 155), 0 0 70px rgb(255, 248, 155);
    }

}

.p:hover {
    animation: glow 10s ease-in-out;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(255, 248, 155), 0 0 20px rgb(255, 248, 155), 0 0 30px rgb(255, 248, 155), 0 0 40px rgb(255, 248, 155), 0 0 50px rgb(255, 248, 155);
    }

    to {
        text-shadow: 0 0 60px rgb(255, 248, 155), 0 0 70px rgb(255, 248, 155);
    }

}

.r:hover {
    animation: glow 10s ease-in-out;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(255, 248, 155), 0 0 20px rgb(255, 248, 155), 0 0 30px rgb(255, 248, 155), 0 0 40px rgb(255, 248, 155), 0 0 50px rgb(255, 248, 155);
    }

    to {
        text-shadow: 0 0 60px rgb(255, 248, 155), 0 0 70px rgb(255, 248, 155);
    }

}

.rs:hover {
    animation: glow 10s ease-in-out;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(255, 248, 155), 0 0 20px rgb(255, 248, 155), 0 0 30px rgb(255, 248, 155), 0 0 40px rgb(255, 248, 155), 0 0 50px rgb(255, 248, 155);
    }

    to {
        text-shadow: 0 0 60px rgb(255, 248, 155), 0 0 70px rgb(255, 248, 155);
    }

}